- model_class = User
- content_for :title do
  Tap-In
- content_for :actions do
  %li.nav-item
    = link_to 'new user', [:new, :user], class: "nav-link"

- if @active_users.present?
  .row.most-active
    .col-12
      %h5.mb-0 Most active
      %small.text-muted Top #{@active_users.size}, last 2 months
  .row.most-active-cards
    - @active_users.each do |user, count|
      = render "active_user", user: user, count: count
  %hr

.row
  %form{:method => "GET"}
    %small
      Select a user by scanning a barcode:
    %input{:name => "barcode", :autofocus => true, :inputMode => "none"}

.user-filter
  .btn-group
    %a.btn{href: "#0", class: "user-filter-0"} #
    - ('a'..'z').each do |a|
      %a.btn{href: "##{a}", class: "user-filter-#{a}"}= a
.row
.row
  = render @users

- content_for :footer do
  = javascript_include_tag "users"
  %noscript
    %style .user { display: initial; }
    %style .user-filter { display: none; }
